@import "../../index.module.scss";

.advice {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  flex-grow: 1.5;
  margin-bottom: 1.5rem;

  @media (max-width: 500px) {
    flex-grow: 1;
    gap: 0;
    margin-bottom: 1rem;
  }
  @media (max-width: 350px) {
    margin-bottom: 0.8rem;
  }
  &_num {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    & p {
      color: $NeonGreen;
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 0.9rem;
    }
    & h3 {
      font-size: 1rem;
      font-weight: 900;
      letter-spacing: 2px;
      color: $NeonGreen;
      @media (max-width: 350px) {
        font-size: 0.8rem;
      }
    }
  }
  &_messages {
    font-size: 2rem;
    padding: 0.5rem;
    line-break: strict;
    color: $LightCyan;
    @media (max-width: 600px) {
      font-size: 1.7rem;
    }
    @media (max-width: 500px) {
      font-size: 1.2rem;
    }
    @media (max-width: 350px) {
      font-size: 1rem;
    }
  }
}
